
:root {
  --color-primario-turquesa: #1DE9B6;
  --color-primario-cobalto: #1976D2;
  --color-secundario-teal: #0097A7;
  --color-secundario-medianoche: #1A237E;
  --color-fondo-base: #CFD8DC;
  --color-blanco: #ffffff;
  --text: #333;
  --bg: #fff;
  --sans: system-ui, sans-serif;
  --color-primary: #0CB1E6
}

body {
  margin: 0;
  font-family: var(--sans);
  color: var(--text);
  background: linear-gradient(135deg, var(--color-primario-cobalto) 0%, var(--color-primario-turquesa) 60%, var(--color-fondo-base) 100%);
}
